.button {
  background-color: #e74c3c;
  border-radius: 3px;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  box-shadow: 0px 0px 1px #11131550;
  z-index: 1;
}

.icon {
  display: block;
}
