html {
    background-color: lighten(#333, .5);
    font-family: sans-serif;
    color: $text-color;
}

body {
    margin: 0;
}

.genre {
    ul {
        list-style: none;
        padding: 0;
        margin-top: ($spacing * 2);
    }
    
    li {
        border-top: 1px solid #333;
        cursor: pointer;
        padding: $spacing ($spacing * 2);
        
        &:hover {
            background-color: lighten($bg-color, 10);
        }
        
        &:last-of-type {
            border-bottom: 1px solid #333;
        }
    }
}

.movies, .suggestion {
    position: relative;
    height: 100%;
    width: 100%;
}

.genre,
.movies,
.suggestion {
    display: none;
    
    &.active {
        display: block;
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #e74c3c;
    position: block;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    
    path {
        fill: #343434;
    }
}

.add-to-watch {
    position: absolute;
    top: -50px;
    right: 10px;
    cursor: pointer;
    background-color: #27ae60;
    position: block;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    
    path {
        fill: #343434;
    }
}

.rewind {
    position: absolute;
    top: -50px;
    left: 10px;
    cursor: pointer;
    background-color: #ecf0f1;
    position: block;
    height: 40px;
    width: 40px;
    border-radius: 3px;
    
    path {
        fill: #343434;
    }
}



// Temporary

//.phone {
//    background-color: $bg-color;
//    height: 640px;
//    width: 360px;
//    box-sizing: border-box;
//    display: block;
//    margin: 200px 10px 10px 10px;
//    float: left;
//}

.phone {
    background-color: $bg-color;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    position: absolute;
}

// Temporary - END