@import "from-old-site.css";

ul li a {
  color: white;
  text-decoration: none;
}

.genre,
.movies {
  display: block;
}

.movie-opinion__icon {
  width: 58px;
  height: 58px;
}

.movie__new-window {
  width: 40px;
  height: 40px;
}

.rewind {
  padding: 5px;
  box-sizing: border-box;
}
