/* @import "from-old-site.css"; */
@import "styles/styles.css";

html {
  margin: 0;
  background-color: #111315;
  color: #ecf0f1;
}

body {
  font-family: "Roboto";
  font-weight: 300;
}

:root {
  /* --spacing: 20px; */
  --max-size: 800px;
}

.wrapper {
  /* padding: var(--spacing); */
  min-height: 100vh;
  position: relative;
}

.genre {
  background: linear-gradient(45deg, #9b59b6 0%, #e67e22 100%), #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.suggestions {
  height: 100vh;
  position: relative;
  width: 100%;
  max-width: var(--max-size);
  margin-right: auto;
  margin-left: auto;
}
